.Flex {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.Flex > div {
	flex: 1 0 100%;
	padding-left: 15px;
		padding-right: 15px;
}

@media (min-width: 600px) and (max-width: 1023px) {
	.Flex > div {
		flex-grow: 1;
		flex-basis: 40%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 1024px) {
	.Flex > div {
		flex: 0 1 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
}